target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
**/.mvn
**/.idea
**/mvnw.cmd
**/mvnw
**/.gitignore
**/*.class
**/*.iml
online-taxi-public/service-price/target/
online-taxi-public/internal-common/target/
online-taxi-public/api-passenger/target/
online-taxi-public/service-map/target/
online-taxi-public/service-driver-user/target/
online-taxi-public/api-boss/target/
online-taxi-public/api-driver/target/
online-taxi-public/service-order/target/
online-taxi-public/service-passenger-user/target/
online-taxi-public/service-verificationcode/target/